.cardPreview {
    width: auto;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 25px;
    margin: 20px 0px 20px 0px;
    width: 340px;
    height: 340px;
    img {
        filter: brightness(80%);
    }
    .cardCover {
        position: relative;
        width: 340px;
        height: 340px;
        object-fit: cover;
    }
    .cardTitle {
        width: 50%;
        position: absolute;
        bottom: 3px;
        font-size: 1em;
        font-weight: 500;
        color: #fff;
        z-index: 1;
        padding: 15px;
    }
}

.cardPreview:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 768px) {
    .cardPreview {
        .cardCover {
            width: 100%;
        }
        .cardTitle {
            width: 50%;
            font-size: 1em;
            z-index: 1;
        }
    }
}