.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    background-color: black;
    color: #fff;
    width: 100%;
    margin-top: auto;
    h1 {
        display: flex;
        flex-direction: row;
        letter-spacing: 10%;
        color: #fff;
        .kasaLogoFooter {
            filter: brightness(100);
            padding-top: 20px;
            width: auto;
            height: 40px;
        }
    }
    p {
        font-size: 15px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0;
    }
}